.ui.table {
  margin: auto;
  width: 70%;
  font-family: 'Belleza', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.ui.table td {
  padding: 8px 0.785714em;
}

.ui.image.label {
  margin-top: 7px;
  margin-bottom: 5px;
  line-height: 18px;
}

i.large.icon, i.large.icons {
  font-size: 15px;
}

.ui.label >.icon {
  margin: 0 0.35em 0 0;
}

.ui.celled.table tr:nth-child(even){
  background-color: #f2f9fa;
}