.ui.table {
  margin: auto;
  width: 78%;
  font-family: 'Belleza', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.ui.table td {
  padding: 8px 0.785714em;
}

.ui.sortable.table thead th {
  font-size: 18px;
}

.ui.image.label {
  margin-top: 7px;
  margin-bottom: 5px;
  line-height: 18px;
  font-size: 14px;
}

i.large.icon, i.large.icons {
  font-size: 15px;
}

.ui.label >.icon {
  margin: 0 0.35em 0 0;
  margin-top: -3.7px;
}

.ui.celled.table tr:nth-child(even){
  background-color: #f2f9fa;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  font-size: 18px !important;
}

i.circular.icon {
  margin-left: 6.5px;
}