.ui.message {
  width: 70%;
  margin: auto;
}

.mmr-table.ui.table, .mmr-table2.ui.table {
  width: 28%;
}

#mmr-container {
  display: flex;
  width: 50%;
  margin: auto;
}

#mmr-table {
  flex: 1;
}
#mmr-table2 {
  flex: 1;
}